<% content_for(:nav_courses) do %>
  <li><a href="/">Courses</a></li>
<% end %>

<h2>
  <%= @chapter.name %> / <%= link_to @section.name, %> / <%= @lesson.name %>
</h2>

<ul class="nav nav-tabs">
  <li class="active"><h3>Text</h3></li>
</ul>
<p><%= @lesson.text %></p>
<br>
<p><%= @lesson.text %></p>
<br>
<p><%= @lesson.text %></p>
