<h1>New Chapter</h1>

<% if @chapter.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @chapter.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @chapter do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
