<% content_for(:nav_courses) do %>
  <li><a href="/">Courses</a></li>
<% end %>

<h3><%= @chapter.name %></h3>

<% if @chapter.sections.any? %>
  <ul>
    <% @chapter.sections.each do |section| %>
      <li>
        <span class="section-item">
          (Week <%= section.number %>) <%= section.name %>
        </span>
        <span class="admin hide">
          |
          <%= link_to "Edit", edit_chapter_section_path(@chapter, section) %> |
          <%= link_to "Delete", chapter_section_path(@chapter, section),
          :data => {:confirm => "Are you sure?",
            :method => "delete"} %>
        </span>
        <% if section.lessons.any? %>
          <ul>
            <% section.lessons.each do |lesson| %>
              <li>
                <span class="lesson-item">
                  (Week <%= lesson.number %>) <%= lesson.name %>
                </span>
                <span class="admin hide">
                  |
                  <%= link_to "Edit", edit_section_lesson_path(section, lesson) %> |
                  <%= link_to "Delete", section_lesson_path(section, lesson),
                  :data => {:confirm => "Are you sure?",
                    :method => "delete"} %>
                </span>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>Currently there are no lessons for this <%= section.name %> </p>
        <% end %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>Currently there are no sections for this <%= @chapter.name %> </p>
<% end %>
<% content_for(:nav_footer) do %>
  <li><%= link_to "Edit Chapter", edit_chapter_path(@chapter) %></li>
  <li><%= link_to "Delete Chapter", chapter_path(@chapter),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></li>
  <li><%= link_to "Add Section", new_chapter_section_path(@chapter) %></li>
<% end %>
